.loading {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
  }

  .home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 414px;
    margin: 0 auto;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
  }